html, body, div, p
{
    margin: 0;
	padding: 0;
	border: 0;
    outline: 0;
}

body {
    background-color: #002C53;
    font-family: 'DejaVu Sans', sans-serif;
}

/* ТИТУЛЬНАЯ СТРАНИЦА */
.book_header
{
    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: #E0E0E0;
    color:black;

    padding: 2.0%;
    margin: 2.0%;
    text-align: center;

    padding-bottom: auto;

    font-size: 2em;

    height: fit-content;
}

.contents
{
    font-size: 0.8em;
    text-align: left;
}

.author_picture
{
    padding: 4.0%;
}

ol
{
    display: inline-block;
}

ol > li
{
    padding: 1.0%;
}

.book_author
{
    padding: 2%;
    color: red;
    font-size: 1.3em;
}




/* ОСНОВНАЯ ЧАСТЬ */
/*  */
.chapter_image
{
    margin: 4% 2% 0% 2%;
    font-size: 0;
    background-color: #F4F4F4;

    border-style: solid;
    border-width: 1px;
    box-shadow: 7px 7px 5px #B7B7B7;
}

.chapter_image > img
{
    width: 100%;
    object-fit: cover;
}

/*  */
.chapter {
    background-color: #F4F4F4;

    margin: 0 2% 2% 2%;
    padding: 2.0%;

    font-size: 1.25em;
    text-align: justify;

    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;

    border-style: solid;
    border-width: 1px;
    box-shadow: 7px 7px 5px #B7B7B7;

    word-spacing: 100%;
}
  
/*  */
.header
{
    padding-bottom: 0.5%;

    font-size: 200%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

/*  */
.citation
{
    background-color: #424550;
    color: antiquewhite;

    box-shadow: 1px 1px 7px #505050;

    padding: 2.0%;
    margin-left: auto;
    margin-right: auto;

    margin-top: 2%;
    margin-bottom: 2%;

    border-style: solid;
    border-width: 3px;

    width: 90%;
    font-size: 0.9em;

    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}

/*  */
.inline_citation
{
    background-color: #424550;
    color: antiquewhite;

    padding: 0.25%;
    margin: 0.25%;

    /* display: inline-block; */
}

.chapter > p {
    margin-top: 1.25em;
    text-indent: 2.0em;
}

.first_paragraph::first-letter {
    font-size: 200%;
    background-color: #424550;
    color: antiquewhite;
    padding: 0.4%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    margin: 0.2%;
}

.grid-2-2
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    grid-auto-columns: minmax(min-content, max-content);
    
    grid-row-gap:    5%;
    grid-column-gap: 1%;

    margin-top: 2%;
    margin-bottom: 4%;
    height: fit-content;
}

.grid-2-2 > p
{
    margin: 2% 2% 2% 2%;

    height:fit-content;
    width: 90%;

    margin-top: auto;
    margin-bottom: auto;
}

.full_row22
{
    grid-column-start: 1;
    grid-column-end:   3;
}

.picture
{
    display: block;
    float: right;
    padding: 0.5%;
    margin: 1em 0% 1em 2em;

    background-color: antiquewhite;
    width: 50%;

    border-style: solid;
    border-width: 1px;
    /* font-size: 0; */
}

.to_left
{
    float: left;
    margin: 2% 2% 1% 0%;
}

.picture > img
{
    width: 100%; 
    height: auto; 
}

table
{
    width: 60%;
    margin-top: 2%;
    margin-bottom: 2%; 
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 480px) {
    .header
    {
        font-size: 125%;
        hyphens: auto;
    }

    .picture {
        margin: 1em 0 1em 0;
        width: auto;
    }
}