html, body, div, p
{
    margin: 0;
	padding: 0;
	border: 0;
    outline: 0;

    scroll-behavior: smooth;
}

body 
{
    background-color: #1D3752;
    font-family: 'Open Sans', 'DejaVu Sans', sans-serif;
}

/* ТИТУЛЬНАЯ СТРАНИЦА */
.book_header_inner
{    
    background-color: #30333B;
    color: antiquewhite;

    padding-left: 5%;

    width: 50%;

    font-size: 3rem;

    text-align: left;
}

.book_header 
{
    padding-top: 50vh;
    /* padding-bottom: 15em; */
    background-image: url("pictures/book_header.jpg");
    background-size: cover;

    margin-bottom: 2em;    
    height: 50vh;
}

.book_image
{
    width: 100%;
    object-fit: cover;
    font-size: 0;
}

.contents
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    grid-column-gap: 1em;
    grid-row-gap: 1em;

    text-align: left;

    /* background-color: #30333B; */
    color: antiquewhite;

    padding: 2em 5% 1em 5%;

    font-size: 200%;
}

.content_box
{
    display: flex;
    flex-flow: column;
    height: 100%;
}

.content_box:hover
{
    transform: scale(1.01);
    filter: brightness(50%);
}

a:link
{
    color: antiquewhite;
    text-decoration: none;
}

a:visited
{
    color: antiquewhite;
    text-decoration: none;
}

.mini_chapter_image
{
    font-size: 0;
}



.mini_chapter_image > img
{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.content_chapter
{
    display: block;

    background-size: cover;

    background-color: #30333B;

    border-color: white;
    border-style: solid;
    border-width: 2px;

    padding: 0.5em;
    /* margin-bottom: 2em; */

    text-align: center;
    height: 100%;
}

/* #chapter_1
{
    background-image: url("pictures/london.avif");
} */

.author_picture
{
    padding: 4.0%;
}

ol
{
    display: inline-block;
}

ol > li
{
    padding: 1.0%;
}

.book_author
{
    padding-top: 0.25em;
    color: #EE2D2D;
}

.book_name
{
    padding-bottom: 0.25em;
}

.foreword 
{
    padding: 2em;

    margin-left: 5%;
    margin-right: 5%;

    border-style: solid;
    border-width: 2px;
    border-color: white;

    background-color: #30333B;
    color: white;
}

.foreword_header
{
    font-size: 200%;

    padding-bottom: 1em;

    /* border-style: solid;
    border-width: 1px;
    border-color: white; */
}

.foreword_text
{
    font-size: 150%;
    text-indent: 2em;
    text-align: justify;

    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}

.border
{
    margin-top: 4em;
    margin-left: 5%;
    margin-right: 5%;

    border-style: solid;
    border-width: 2px;
    border-color: white;
}

/* ОСНОВНАЯ ЧАСТЬ */
/*  */
.chapter_image
{
    margin: 1% 2% 0% 2%;
    font-size: 0;
    background-color: #F4F4F4;

    border-style: solid;
    border-width: 1px;
    box-shadow: 7px 7px 5px #B7B7B7;
}

.chapter_image > img
{
    width: 100%;
    object-fit: cover;
}

/*  */
.chapter {
    background-color: #F4F4F4;

    margin: 0 2% 2% 2%;
    padding: 2.0%;

    font-size: 1.5em;
    text-align: justify;

    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;

    border-style: solid;
    border-width: 1px;
    box-shadow: 7px 7px 5px #B7B7B7;
}
  
/*  */
.header
{
    padding-bottom: 0.5%;

    font-size: 200%;
    border-bottom-style: solid;
    border-bottom-width: 2px;

    text-align: left;
}


/*  */
.inline_citation
{
    background-color: #424550;
    color: antiquewhite;

    padding: 0.25%;
    margin: 0.25%;

    /* display: inline-block; */
}

.chapter > .paragraph, .first_paragraph {
    /* word-spacing: 100%; */

    margin-top: 1.5em;
    text-indent: 2.2em;
}

.chapter > .first_paragraph
{
    margin-top: 1.0em;
}

/*  */
.citation
{
    display: block;
    background-color: #424550;
    color: antiquewhite;

    box-shadow: 0px 0px 7px #505050;

    padding: 2.0%;
    margin-left: -2%;
    margin-right: -2%;

    margin-top: 1.5em;
    /* margin-bottom: 1em; */

    /* border-style: solid;
    border-width: 2px 0 2px 0; */

    /* width: 90%; */
    /* font-size: 0.9em; */
    text-indent: 0;

    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}

.first_paragraph::first-letter {
    font-size: 200%;
    background-color: #424550;
    color: antiquewhite;
    padding: 0.1em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin: 0.1em;
}

.grid-2-2
{
    display: flex;
    flex-wrap: wrap;
}

.picture
{
    display: block;
    float: right;
    /* padding: 0.5%; */
    margin: 1.5em 0 0.5em 1em;

    /* background-color: antiquewhite; */
    width: 50%;
}

.small_picture
{
    width: 30%;
}

.small_picture_40
{
    width: 40%;
}

.small_picture_50
{
    width: 50%;
}

.full_picture
{
    width: 100%;
    float: none;
    margin: 1em 0 1em 0;
}

.picture_description
{
    font-size: 0.9em;
    padding: 0.5em 1em 0em 1em;
}

.to_left
{
    float: left;
    margin: 2% 2% 1% 0%;
    margin: 1.5em 1em 0.5em 0;
}

.picture > img
{
    width: 100%; 
    height: auto; 
}

table
{
    font-size: 1.25em;
    width: 80%;
    margin-top: 2%;
    margin-bottom: 2%; 
    margin-left: auto;
    margin-right: auto;
}

.superscript
{
    vertical-align: super;
    font-size: 0.7em;
}

.notes_header
{
    text-align: center;
    font-size: 150%;

    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: black;

    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

@media only screen and (max-width: 1024px) {
    .header
    {
        /* font-size: 150%; */
        hyphens: auto;
    }

    .picture {
        float: none;
        margin: 1em -2% 0.5em -2%;
        width: auto;
    }

    .small_picture
    {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .to_left
    {
        float: none;
    }

    .citation
    {
        width: auto;
    }

    .chapter > .paragraph, .first_paragraph {
        margin-top: 2.0em;
        text-indent: 3.0em;
    }

    .small_header
    {
        font-size: 150%;
    }

    .book_header
    {
        padding-top: 15em;
        padding-bottom: 15em;
        height: auto;
    }

    .book_header_inner
    {
        width: auto;
    }
    
    .chapter
    {
        font-size: 1.75em;
    }

    .contents
    {
        grid-template-columns: 1fr;
        padding: 1.33em 5% 1em 5%;
        font-size: 300%;
    }
}